.studentBox {
    background-color: rgb(224, 224, 224);
    padding: 10px;
    border: 2px solid rgb(104, 103, 103);
    border-radius: 10px;
    box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.2);
}

.studentBox:hover {
    background-color: rgb(197, 196, 196);
}

table,
tbody,
tr {
    width: 100%;
}

td {
    width: 50%;
    margin: auto;
}